[Unit]
Description=Compile today's birdsnest timelapse every evening

[Timer]
OnCalendar=*-*-* 22:15:00
Persistent=true

[Install]
WantedBy=timers.target
